@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", serif;
}
.mainBG {
  /* background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)),
    url("bbblurry.png"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0a0a0a;
}

.cardShadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.cardShadow:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.copyAnim {
  animation: copyAnimation 0.5s ease-out;
}

@keyframes copyAnimation {
  0% {
    opacity: 0;
    transform: translatex(-60px);
  }
  35% {
    opacity: 0;
    transform: translatex(-60px);
  }
  100% {
    opacity: 1;
  }
}

.imgCard {
  transform: scale(1.001);
}
.imgCard:hover {
  transform: scale(1.05);
}

.imgCard:active {
  transform: translateY(3px) scale(1.02);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 #0a0a0a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #0a0a0a;
  border-radius: 0px;
  border: 1px solid #000000;
}
